<ul id="article" data-id="{{_id}}">
    <h3>Headline: {{headline}}</h3>
    <p><b>Summary: </b>{{summary}}</p>

    <a href="{{link}}">Link</a>
    <br>
    <br>
    <div id="userinput">
        <b>Add Note</b>
        <br>
        <textarea id="bodyInput"></textarea>
        <br>
          <button id="makenew" data-id="{{_id}}">Submit</button>
        {{!-- <button id="clearall">Delete</button> --}}
    </div>
    {{#if note}}
     <b>Existing Notes</b>
     <br>
     <br>
            {{#each note}}
                <u id="note-click" note-id="{{_id}}">Click Here To See Note</u>
                <button id="delete" data-id="{{_id}}">Delete Note</button>
                <br>
            {{/each}}
    {{else}}
    <p>This article has no notes.</p>
    {{/if}}
</ul>
<br>
<br>