<ul id="article">
    <h3>{{headline}}</h3>
    <p>{{summary}}</p>

    <a href="{{link}}">Link</a>

    <div id="userinput">
        <b>Add Note</b>
        <br>
        <textarea id="bodyInput"></textarea>
        <br>
          <button id="makenew" data-id="{{_id}}">Submit</button>
        {{!-- <button id="clearall">Delete</button> --}}
    </div>
    {{#if note}}
     <b>Existing Notes</b>
     <br>
     <br>
            {{#each note}}
                <u id="note-click" note-id="{{_id}}">Click Here To See Note</u>
                <br>
            {{/each}}
    {{else}}
    <p>This article has no comments</p>
    {{/if}}
</ul>
<br>
<br>